
*.obj
*.o
*.pch
*.idb
*.pdb
*.ilk
*.res
*.sbr

*.exe
*.dll
*.so
*.dylib
*.app

*.lib
*.a

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.aps
*.ncb
*.sdf
*.opensdf
*.suo
*.tlb
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww]in32/
[Bb]uild/
[Oo]bj/
[Oo]ut/
bin/

ipch/
*.tmp
*.temp

Thumbs.db
.DS_Store

*.[Bb]ak
*.backup

*.pdf
*.doc
*.docx
